<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/client/styles/style.scss">
    <title>Travel App</title>
</head>
<body>
    <header class="header">
          <img class="logo-pic" src="/src/client/media/pngtree-travel-logo-template-simple-and-minimalist-png-image_5257827.jpeg" width="8%">
                  <h1>Fun-Travel</h1>
          <!-- <form action="submit">
              <input type="email" placeholder="yours@email.com">
              <button>Signup</button>
          </form> -->
    </header>
    <section class="section" style="overflow: scroll;">
        <div class="form">
            <center>
                <form>
                    <input type="text" name="sectionbar"  class="sectionbar" placeholder="Enter destination here"/><br>
                    <input type="date" name="departure" class="Departure date" placeholder="Departure date"/><br>
                    <button type="submit" class="search">Search</button>
                </form>
            </center>
            <center>
                <div id="had" style="color: white;">
                </div>
            </center>
            <div style="display: flex;justify-content: space-around;flex-direction: row;">
                <div  id="temp"></div>
                <div id="data"></div>
            </div> 
            <center>
                <div id="image">
    
                </div>
            </center>
        </div>
    </section>
    
    <footer>
        <ul>
            <li>about us</li>
            <li>site map</li>
            <li>Terms and conditions</li>
            <li>pricing</li>
        </ul>
        <p>&copy; All rights reserved by fun travel</p>
    </footer>
    
</body>
</html>